version: '3.9'

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:8080"
    depends_on:
      - postgres
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=utilities;Username=util_user;Password=util_pass
    networks:
      - appnet

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=util_user
      - POSTGRES_PASSWORD=util_pass
      - POSTGRES_DB=utilities
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend-vue
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:5000/api
    container_name: frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge
